#heading {
  margin-top:100px;
  font-size:200px;
  font-family:Arizonia, cursive;
  text-shadow:2px 2px 20px #000000;
}

@media (max-width: 576px) {
  #heading {
    margin-top:100px;
    font-size:100px;
    font-family:Arizonia, cursive;
    text-shadow:2px 2px 20px #000000;
  }
}

#subheading {
  margin-top:-22px;
  width:500px;
  margin-right:auto;
  margin-left:auto;
  max-width:500px;
  height:64px;
  overflow:visible;
  word-break:break-all;
}

@media (max-width: 576px) {
  #subheading {
    margin-top:-5px;
    width:300px;
    max-width:300px;
    height:64px;
    font-size:16px;
  }
}

#menuplate {
  -webkit-box-shadow:2px 6px 23px 5px rgba(0,0,0,0.45);
  -moz-box-shadow:2px 6px 23px 5px rgba(0,0,0,0.45);
  box-shadow:2px 6px 23px 5px rgba(0,0,0,0.45);
}

@media (min-width: 300px) {
  .navbar-light .navbar-brand {
    margin-left:0px;
    margin-left:0px !important;
  }
}

.navbar-light .navbar-brand {
  margin-top:12px;
  color:rgba(255,255,255,0.9);
  margin-left:150px;
}

.navbar-light .navbar-toggler-icon {
  color:white;
}

.navbar-light .navbar-toggler-icon {
  /*background-image:data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E !important;*/
}

@media (max-width: 576px) {
  #coverSection {
    height:750px !important;
  }
}

@media (max-width: 576px) {
  #aboutLeft, #aboutRight {
    width:100% !important;
  }
}

@media (max-width: 400px) {
  #testimonialSection {
    height:271px !important;
    background-size:cover !important;
  }
}

@media (max-width: 576px) {
  #testimonialSection {
    height:409px !important;
    background-size:cover !important;
  }
}

@media (max-width: 400px) {
  #testimonialSection {
    height:271px !important;
    background-size:cover !important;
  }
}

@media (max-width: 576px) {
  #testimoinalHolder {
    height:367px !important;
  }
}

@media (max-width: 400px) {
  #testimoinalHolder {
    height:290px !important;
  }
}

.featuresHolder {
  /*text-align:left;*/
  -webkit-box-orient:vertical!important;
  -webkit-box-direction:normal!important;
  -ms-flex-direction:column!important;
  flex-direction:column!important;
  -webkit-box-align:center!important;
  -ms-flex-align:center!important;
  align-items:center!important;
  display:flex;
}

@media (max-width: 576px) {
  #preFooterImg {
    margin-top:-170px;
    height:381px !important;
  }
}

